:root {
    --primary-color: #F8EDED;
    --secondary-color: #FF8225;
    --text-color: #212529;
}

.btn{
    background-color: white;
    border: .1rem solid gray;
    width: 6rem;
    height: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #212529;
}

.btn-outline-secondary{
    border-radius: .3rem;
}

.btn-outline-secondary:hover{
    background-color: var(--secondary-color);
    transition: all .5s;
    color: #fff;
}

.btn-secondary{
    background-color: var(--secondary-color);
    color: #fff;
    padding: .1rem 3rem;
    border-radius: .3rem;
}

.btn-secondary:hover{
    background-color: #fa3e00;
    transition: all .5s;
    color: #fff;
}