:root {
    --primary-color: #F8EDED;
    --secondary-color: #FF8225;
    --text-color: #212529;
}

button{
    margin: 0;
    padding: 0 !important;
}

.btn{
    background-color: white;
    border: .1rem solid gray;
    padding: .5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #212529;
}

.btn-outline-secondary{
    border-radius: .3rem;
    padding: .5rem 1rem !important;
}

.btn-outline-secondary:hover{
    background-color: var(--secondary-color);
    transition: all .5s;
    color: #fff;
}

.btn-secondary{
    background-color: var(--secondary-color);
    color: #fff;
    padding: .1rem 3rem;
    border-radius: .3rem;
}

.btn-secondary:hover{
    background-color: #fa3e00;
    transition: all .5s;
    color: #fff;
}

.btn-danger {
    background-color: #C7253E;
    color: #fff;
    border-radius: .3rem;
    padding: .2rem 1rem !important;
    margin-left: .5rem;

}

.button-group{
    display: flex;
}